<div class="field">
  <label #inputLabel [class.blockLabel]="labelPosition == 'top'" [for]="elementID"><span *ngIf="isRequired" class="required">*</span>{{ label }}</label>

  <input #inputElement [type]="textBoxType" [id]="elementID" [(ngModel)]="model" [placeholder]="placeholder" (ngModelChange)="bind.emit( $event ); checkType( $event )" [disabled]="disabled" (keyup)="keyup.emit()">
  <span #inputMessageElement >{{inputMessage || '' }}</span>
  <label  *ngIf="label && labelPosition == 'right'" [for]="elementID">{{ label }}</label>
</div>


<!--
sampple code
<custom-textarea
[autoFocus]="true"
[elementID]="'test'"
[model]="test"
(bind)="test = $event"
>
-->
