//variables
$isitrakTheme : #2a3f54;
$bottom-border: #607d8b;
$inputs-border: #a5adba;
$border: 2px solid;
$border-bottom: 4px $bottom-border solid;
$th-padding: 10px 30px 10px 30px;
$normal-btn: #d7dde5;
//end of variables
