.progressbar-container{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  font-size: .75rem;
  line-height: 1rem;
  text-align: center;
  background-color: #eceeef;
  border-radius: 2em;
}
.progress{
  padding-top: 5px;
  padding-bottom: 5px;
  background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  -webkit-background-size: 1rem 1rem;
  background-size: 1rem 1rem;
  width: 0;
  font-weight: bolder;
  animation: progress-bar-stripes 2.8s linear infinite;
}

.bg-danger{
  background-color: #d9534f!important;
}

.bg-warning{
  background-color: #f0ad4e!important;
}

.bg-info{
  background-color: #5bc0de!important;
}

.bg-success{
  background-color: #5cb85c!important;
}

.bg-default{
  background-color: #0275d8;
}

@-webkit-keyframes progress-bar-stripes{from{background-position:40px 0}to{background-position:0 0}}
