<div class="select-container">
  <div class="field" (click)="show()" [class.pointer]="!autoSuggest">
    <label *ngIf="label && elementID" [for]="elementID">{{ label }}</label>
    <input #input type="text" (focus)="flag( itemdrp )" [placeholder]="placeholder" [class.pointer]="!autoSuggest" #itemdrp  class="dropdown" [id]="elementID" [(ngModel)]="model" (change)="bind.emit()">
    <span style="float: right;" class="material-icons pointer"> keyboard_arrow_down </span>
  </div>

    <div  #content class="item-content" [class.show]="displayFlag">
      <button *ngIf="default" class="item"  (click)="selectItem( $event, null, -1 )">
        <span *ngIf="default">{{default}}</span>
      </button>
      <button class="item" (click)="selectItem( $event, obj, i )" [class.selected]="selectedItem === obj[iteratedLabel]" *ngFor="let obj of object; let i = index">
        <span *ngIf="iteratedLabel"> {{ obj[iteratedLabel] }} </span>
        <span *ngIf="!iteratedLabel"> {{ obj }} </span>
      </button>
    </div>

</div>


<!--
  <custom-dropdown
  [elementID]="'test'"
  [object]="test"
  [iteratedLabel]="'name'"
  [label]="'Select Existing User: '"
  ></custom-dropdown>
-->
