@import "../../globalscss/global";

label.caret:after{
  content: '';
  border-top: 5px solid black;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  position: relative;
  top: 10px;
  right: 15px;
  cursor: pointer;
}
.field{
  input{
    border-bottom:none !important;
    text-transform: capitalize;
  }
}
.material-icons{
  user-select: none;
}
.select-container{
  border-bottom: #a5adba 2px solid !important;
}
input{
  padding-left: 3px;
  width: 80%;
}
.selected{
  background-color: #d2d2d2!important;
}
.item-content{
  position: absolute;
  width: 20%;
  background-color: #efeeee;
  box-shadow: 3px 4px 4px 2px #b5aeae;
  max-height: 260px;
  overflow-x: hidden;
  overflow-y: overlay;
  display: none;
}

.item-content:hover::-webkit-scrollbar{
  display: initial;
}

.item-content::-webkit-scrollbar{
  display: none;
}

.item-content::-webkit-scrollbar{
  width: 4px;
  background-color: #ced2d8
}

.item{
  padding: 10px 20px;
  border: 1px solid #d2d2d2;
  cursor: pointer;
  display: block;
  width: 100%;
  text-align: left;
  outline:none;
  //background-color: hsla(0, 0%, 77%, 0.26);
  background-color: #fff;
}

.show{
  display: block;
  z-index: 9999;
}

.pointer{
  cursor: pointer;
}
div.select-container{
  display: inline-block;
  height: 19px;
}
label.lbl{
  vertical-align: bottom;
}
input.dropdown.pointer{
  background-color: transparent !important;
}

//.item-content::-webkit-scrollbar-thumb{
//  background-color: $isitrakTheme;
//}
