<div class="wrapper">


  <div class="half" [class.halff]="!isChild" [class.fullwidth]="isChild">

    <div class="tab" *ngFor="let obj of object">
      <input [id]="obj[iteratedLabel]" type="checkbox" name="tabs" (change)="testChange( $event, obj )">
      <label [class.indented]="isChild" [for]="obj[iteratedLabel]" >{{ obj[iteratedLabel] }}</label>
      <div class="tab-content">
        <p>{{ obj[iteratedContent] }}</p>
        <isi-accordion *ngIf="obj[childIteration]"
        [isChild]="true"
        [iteratedLabel]="iteratedLabel"
        [iteratedContent]="iteratedContent"
        [object]="obj[childIteration]"
        ></isi-accordion>
      </div>
    </div>
  </div>

</div>
