<ol class="progress-track">
  <li class="progress-todo"  [class.progress-done]="stepsModel>=idx+1" [class.progress-current]="stepsModel==idx+1" *ngFor="let obj of object; let idx = index">
    <div class="icon-wrap" (click)="clicked( idx + 1 )" [class.clickable]="isClickable">
      {{ idx + 1 }}
    </div>
    <span class="progress-text">{{ obj.label }}</span>
  </li>
</ol>
<ng-content>
</ng-content>
<div class="steps-controls">
  <button class="prev" (click)="prev()">Previous</button>
  <button class="next" (click)="next()">Next</button>
</div>
