/** Colors **/
ol.progress-track {
  display: table;
  list-style-type: none;
  padding: 2em 1em;
  table-layout: fixed;
  width: 80%;
  margin: auto;
}
ol.progress-track li {
  display: table-cell;
  line-height: 3em;
  position: relative;
  text-align: center;
}
.clickable{
  cursor: pointer;
}
ol.progress-track li .icon-wrap {
  border-radius: 50%;
  top: -1.5em;
  color: #fff;
  display: block;
  height: 2.5em;
  margin: 0 auto -2em;
  left: 0;
  right: 0;
  position: absolute;
  width: 2.5em;
}
ol.progress-track li .icon-check-mark,
ol.progress-track li .icon-down-arrow {
  height: 25px;
  width: 15px;
  display: inline-block;
  fill: currentColor;
}
ol.progress-track li .progress-text {
  position: relative;
  top: 10px;
}
ol.progress-track li.progress-done {
  border-top: 7px solid #87ba51 !important;
  transition: border-color 1s ease-in-out !important;;
  -webkit-transition: border-color 1s ease-in-out !important;;
  -moz-transition: border-color 1s ease-in-out;
}
ol.progress-track li.progress-done .icon-down-arrow {
  display: none !important;;
}
ol.progress-track li.progress-done.progress-current .icon-wrap {
  background-color: #0070c0 !important;;
}
ol.progress-track li.progress-done.progress-current .icon-wrap .icon-check-mark {
  display: none !important;;
}
ol.progress-track li.progress-done.progress-current .icon-wrap .icon-down-arrow {
  display: block !important;;
}
ol.progress-track li.progress-done .icon-wrap {
  background-color: #4a6a28 !important;;
  border: 5px solid #87ba51 !important;;
}
ol.progress-track li.progress-todo {
  border-top: 7px solid #DDD;
  color: black;
}
input[type=radio].identifier{
  position: absolute;
  visibility: hidden;
  top:-30000px;
}
button.next{
  border: none;
  padding: 8px 20px 8px 20px;
  margin-left: 30px;
  background: transparent;
  border: 1px solid #d2d2d2;
  border-radius: 0px 50% 50% 0px;
  cursor: pointer;
}
button.next:hover, button.prev:hover{
  background-color: #00b0ff;
  color: #fff;
  text-decoration: underline;
}
button{
  width: 105px;
}
//button.prev:hover{
//  background-color: #00b0ff;
//  color: #fff;
//  text-decoration: underline;
//}
button.prev{
  border: none;
  padding: 8px 20px 8px 20px;
  margin-right: 30px;
  background: transparent;
  border: 1px solid #d2d2d2;
  border-radius: 50% 0 0 50%;
  cursor: pointer;
}
div.steps-controls{
  margin-top: 30px;
  text-align: center;
}
ol.progress-track li.progress-todo .icon-wrap {
  background-color: #FFF;
  border: 5px solid #DDD;
  border-radius: 50%;
  bottom: 1.5em;
  color: #fff;
  display: block;
  height: 2.5em;
  margin: 0 auto -2em;
  position: relative;
  width: 2.5em;
}
ol.progress-track li.progress-todo .icon-wrap .icon-check-mark,
ol.progress-track li.progress-todo .icon-wrap .icon-down-arrow {
  display: none;
}
button{
  outline: none;
}
